*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.active{
    border-bottom: 1px solid red;
    font-weight: bold;
}
  .imgactive{
    animation-name: animate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    transition: ease-in-out;
    
}
@keyframes animate {
    0%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(-10px);
    }
    
}
